* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: hsl(0, 0%, 95%);
}

h1 {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 3.5rem;
  margin-top: 2rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.5rem;
  margin: 2rem 0 7rem;
}

.all-cards {
  padding: 10%;
}

.row {
  --bs-gutter-x: 0;
}

.firstBox {
  background-color: hsl(31, 77%, 52%);
  border-radius: 1rem 0 0 1rem;
  padding: 4rem;
}

.secondBox {
  background-color: hsl(184, 100%, 22%);
  padding: 4rem;
  border-radius: 0;
}

.thirdBox {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 1rem 1rem 0;
  padding: 4rem;
}

.my-footer {
  padding: 0;
  background-color: inherit;
  border-top: 0;
}

/******************* BUTTONS *******************/
.my-buttons {
  border-radius: 40px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.2rem;
  padding: 10px 25px;
}

.sedans-button {
  color: hsl(31, 77%, 52%);
}

.sedans-button:hover {
  background: hsl(33, 77%, 95%);
  color: hsl(31, 77%, 52%);
}

.suvs-button {
  color: hsl(184, 100%, 22%);
}

.suvs-button:hover {
  background: hsl(185, 100%, 95%);
  color: hsl(184, 100%, 22%);
}

.luxury-button {
  color: hsl(179, 100%, 13%);
}

.luxury-button:hover {
  background: hsl(180, 100%, 95%);
  color: hsl(179, 100%, 13%);
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media (max-width: 980px) {
  .firstBox {
    border-radius: 1rem 1rem 0 0;
  }

  .thirdBox {
    border-radius: 0 0 1rem 1rem;
  }
}
