body {
  background-color: hsl(0, 0%, 95%);
}

div {
  padding: 5%;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 93.75%;
}

.firstBox {
  background-color: hsl(31, 77%, 52%);
  width: 25%;
}

.secondBox {
  background-color: hsl(184, 100%, 22%);
  width: 25%;
}

.thirdBox {
  background-color: hsl(179, 100%, 13%);
  width: 25%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
